<ion-header>
  <ion-toolbar>
    <ion-title>Reset wachtwoord</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Emailadres</ion-label>
    <ion-input type="email" [formControl]="email"></ion-input>
  </ion-item>
  <div class="validation-error" *ngIf="(email.dirty || email.touched) && email.errors">
    <span *ngIf="email.getError('required')">Emailadres is vereist</span>
    <span *ngIf="email.getError('email')">Invalide email-adres</span>
    <span *ngIf="email.getError('unknown')">Onbekend email-adres</span>
  </div>
  <ion-button (click)="send()">Verstuur email</ion-button>
</ion-content>
